<html>
	<body>
	Palabra Divertidas
	<p>
		<form action="/tablero">
			<b>ingrese NickName</b>
			<input type="text" name="NickName_txt"/>
			<input type="submit" name="Jugar" id="iniciar_btn" />
		</form>
	</body>
</html>

