<html>
	<head>
	<title>Palabras Divertidas</title>
	</head>
	<body>
		<table width="100%" cellpading="10">
			<tr>
				<td><h1>Palabras Divertidas</h1></td>
				<td><h1>A</h1></td>
				<td><h1>Nickname</h1></td>
			</tr>
			<tr>
				<td colspan="3">
					<table width="100%" border="1" cellpadding="0" cellspacing="0">
						<tr>
							<th>Nombre</th>
							<th>Pais</th>
							<th>Cosa</th>
						</tr>
						<tr>
							<td><input type="text" name="" /></td>
							<td><input type="text" name="" /></td>
							<td><input type="text" name="" /></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="3"><input type="submit" name="" value="Terminar"/></td>
			</tr>
		</table>
	</body>
</html>
